<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>销售预测</title>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/highcharts.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div id="container" style=" margin: auto">
    <div th:include="/chartTemplate/chart :: chart(result=${result})"></div>
</div>
<div  style="text-align: center; font-size: 28px">
    <span>总数据量:4038</span><br>
    <span>训练集:3634</span><br>
    <span>测试集:353</span><br>
    <span>最新预测值:</span><a th:text="${prediction}"></a>
</div>

</body>
</html>
