<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../custom_main/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../custom_main/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../custom_main/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../custom_main/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../custom_main/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../custom_main/style.css">
    <style>
        .hero-content{
            background: url(../img/123.jpg) no-repeat center;
        }
        #menubox ul li{width:100px;}
    </style>
</head>
<body>

<div class="hero-content-overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                    <header class="entry-header">
                        <h4>Enjoy your journey,we are company with you</h4>
                        <h1>Best Service<br/>Most Superiod & Comfortable Flight </h1>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>四川铁航航空运输有限公司是西南最大的综合商旅服务商，服务范围涉及国内国际机票，酒店预订，会务服务，租车预订，旅游度假等领域，凭借着专业的服务素质、完善的营销网络、领先的技术支持，四川铁航赢得了广大客户的高度赞誉。</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">read more</a>
                    </footer><!-- .entry-footer -->
                </div><!-- .hero-content-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .hero-content-hero-content-overlay -->

</body>
</html>