<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../custom_main/text.css"/>
    <script type="text/javascript"  language="javascript"  src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript"  language="javascript"  src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../custom_main/prototype.js" ></script>
    <title>图片轮播</title>

</head>
<body>
<div id="imgchangediv" align="center">
    <img src="../img/a7.jpg" style="display: block;"/>
    <img src="../img/123.jpg" style="display: none;"/>
    <img src="../img/a1.jpg" style="display: none;"/>
    <img src="../img/a2.jpg" style="display: none;"/>
    <img src="../img/a3.jpg" style="display: none;"/>
    <img src="../img/a4.jpg" style="display: none;"/>
    <img src="../img/a5.jpg" style="display: none;"/>
    <img src="../img/a6.jpg" style="display: none;"/>
    <div id="imgyuan">
        <font></font>
        <font></font>
        <font></font>
        <font></font>
        <font></font>
        <font></font>
        <font></font>
        <font></font>
    </div>
</div>
</body>
</html>